.buttonMore {
  position: relative;
  transform: translate(-50px);
  margin: 10px 0 10px 0;
  width: 100px;
  height: 40px;
  left: 50%;
  background-color: bisque;
  border-radius: 6px;
  border: 1px solid grey;
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    font-size: 1.7rem;
  }

  &:active {
    scale: 1.2;
    margin-left: 6px;
  }
}
