.wrapper {
  display: flex;
  flex-wrap: nowrap;

  @media (max-width: 610px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.category {
  color: white;
  padding-right: 5px;
  font-size: 2rem;
  text-wrap: nowrap;
}

.selectSort {
  color: grey;
  height: 27px;
  font-size: 2rem;
  width: 200px;
  padding-left: 5px;
  transition: box-shadow 0.5s ease;
  &:focus {
    outline: none;
    box-shadow: 4px 6px 30px 16px rgba(225, 160, 56, 0.2);
  }

  @media (max-width: 420px) {
    width: 120px;
  }
}
